.loupe_icone {
    visibility: visible;
    color: rgb(3, 28, 15);
    padding: 0%;
    
      display: flex;
      align-items: center;
      text-align: center;
    }

  .bouton_recherche {
    width: 49px;
    display: flex;
    flex-direction: row;
  
    align-items: center;
    padding: 0px;
    

    
  }
  .recherche_icone {
    visibility: collapse;
  }
  
  .research-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 22px;
  }
  
  .form {
    margin-left: 22px;
  }
  input::placeholder {
    padding-right: 0px;
  }
  /* Animaux autorisés */

position: absolute;
width: 226px;
left: 52px;
top: 29.17%;
bottom: 29.17%;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;

/* Black */
color: #000000;

