@media screen and (min-width: 798px) and (max-width: 1180px) {
  html {
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: auto;
    margin-top: 5px;
  }

  main {
    margin-left: 15px;
    margin-right: 15px;
  }

  header {
    width: 75%;
  }
  .filters-icon2 {
    margin-left: 0px;
  }

  h1 {
    max-width: 75%;
    margin-left: 10px;
  }
  .topnav {
    width: 95%;
  }
  .filters-section {
    margin-left: 0px;
    width: 70%;
  }
  #economique {
    margin-left: 0px;
  }
  .filters-section h3 {
    margin-right: 0px;
  }
  /**---------------------HEBERGEMENTS A MARSEILLE---------------**/
  .hebergementsMarseille {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0%;
    width: 95%;
    margin-left: 10px;
  }

  .info {
    padding-right: 0px;
    margin-right: 0pt;
  }
  /**-----------bloc marseille----------**/
  .textHebergementsMarseille {
    margin-left: 20px;
  }

  .blocMarseille {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 95%;
  }

  .premiersHotels {
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    width: 98%;
  }

  .derniersHotels {
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    width: 98%;
  }

  .imagesDroites {
    max-width: 106px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
  }

  /**---------les plus populaires--------------**/

  .lesPlusPopulaires {
    height: 278px;
    margin-top: 40px;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    width: 98%;
  }

  .imagesDroites {
    width: 90px;
  }

  .chambrepopulaire {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
  }

  .chambres {
    max-width: 220px;
    height: 144px;
    background: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
  }

  .classement2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .case-text2 {
    padding-right: 0px;
    width: 50%;
  }
  #chambre2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  /**----------activites Marsreille--------------**/

  #t1 {
    width: 182px;
    height: 211px;
    border-radius: 20px 20px 0px 0px;
  }

  #t2 {
    width: 182px;
    height: 211px;
    border-radius: 20px 20px 0px 0px;
  }

  #t3 {
    width: 182px;
    height: 211px;
    border-radius: 20px 20px 0px 0px;
  }
  #t4 {
    width: 182px;
    height: 211px;
    border-radius: 20px 20px 0px 0px;
  }

  .activitesMarseille {
    margin-left: 10px;
    justify-content: space-around;
    margin-right: 0px;
    width: 95%;
  }
  
  .englobe {
    width: 182px;

    padding: 0px;
  }

  .textActivitesMarseille {
    margin-left: 10px;
  }

  .activity__full-card {
    padding: 0px;
    width: 182px;
    height: 267px;
    padding: 0px;
    margin: 0px;
  }
  .card_title {
    max-width: 182px;
    padding-left: 0px;
  }
  #activity-1 {
    padding-left: 0%;
  }

  #activity-4 {
    padding-right: 0%;
  }

  #activity-3 {
    margin-right: 0px;
  }
  #activity-3 h5 {
    padding-top: 10px;
  }
  #activity-4 h5 {
    padding-top: 10px;
  }

  .blocFooterAPropos {
    margin-left: 40px;
    margin-right: 85px;
  }

  .blocFooterAssistance {
    margin-left: 150px;
    padding-right: 75px;
  }
  .AfficherPlus {
    margin-left: 30p;
  }
  .contenu-footer {
    width: 95%;
    margin-left: 10px;
  }
}
