@media screen and (max-width: 797px) {
  /**-------GENERALITES--------**/
header{
  width: 95%;
  margin-left: 10px;
}
  body {
    padding-bottom: 1%;
    margin-top: 3px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    margin-top: 5px;
    padding-bottom: 1%;
    margin: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-left: 0px;
  }

  /*---------------HEADER------------*/
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    object-fit: cover;
    margin-right: 0px;
    margin-left: 0%;
   
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin-bottom: 25px;
  }
  .item{
    margin-left: 10px;
  }

  header ul li {
    margin-right: 0px;
  }

  .item:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
    padding-bottom: 19px;
  }
  

  /*------------SECTION RECHERCHE-------*/
.title{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-left: 20px;
  width: 90%;
  min-height: 52px;
}

  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    width: 90%;
    min-height: 52px;
  }

  .subtitle {
    min-height: 19px;
    width: 90%;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 20px;

  }
  .bouton_recherche {
    width: 49px;
    border-radius: 0 15px 15px 0;
    padding-left: 0px;
  }
  input::placeholder {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    width: 150px;
  }
  .recherche_icone {
    visibility: hidden;
    width: 0px;
  }
  .loupe_icone {
    visibility: visible;
    padding-left: 17px;
  }
  form input {
    padding-left: 0px;
    width: 180px;
  }
  .carte_icone {
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 0px;
  }
  .research-box {
    margin-left: 0px;
    width: 180px;
    
  }

  /*--------PARTIE FILTRES--------*/

  #economique {
    margin-left: 0px;
  }
  #romantique {
    margin-left: 0px;
  }

  .filters-icon {
    margin-left: 0px;
    padding-left: 0%;
  }
  .filters-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    padding-left: 0%;
  }
  .filters {
    width: 125px;
    padding-left: 10px;
    margin-left: 30px;
  }
  .filters p {
    font-size: 11px;
    width: 100px;
    margin-right: 0px;
  }
  .filters-section h3 {
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .filters-icon {
    display: flex;
    margin-left: 30px;
    width: 80%;
  }
  .filters-icon2 {
    display: flex;
    width: 80%;
  }

  .info {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 90%;
  }

  .info p {
    display: flex;
    flex-wrap: initial;
    align-items: flex-start;
    min-width: 298px;
    height: 57px;
  }

  .filters-section .fas {
    padding-right: 8px;
  }
  /*-------------HEBERGEMENYTS MARSEILLE---------*/

  .hebergementsMarseille {
    display: flex;
    flex-direction: column-reverse;
    justify-content:center ;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
   
  }
  /*----------------------BLOC MARSEILLE----------*/
  .resultatsMarseille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0px;
   }

  .blocMarseille {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 40px;
   margin-left: 0px;
   margin-right: 0px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 0px;
  }

  .premiersHotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin: auto;
  }

  .imageGauche {
    min-width: 300px;
    object-fit: cover;
    width: 85%;
  }

  .derniersHotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .card {
    min-width: 300px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .case-text {
    min-width: 300px;
    width: 85%;
  }

  figcaption {
    width: 85%;
  }

  .AfficherPlus {
    visibility: collapse;
  }

  /**---------------------LES PLUS POPULAIRES----------**/
  .lesPlusPopulaires {
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    padding-left: 0px;
    width: 90%;
    border-radius: 0px;
  }

  .chambrePopulaire {
    align-items: baseline;
    justify-content: center;
  }

  .h2populaires {
    margin-left: 0px;
    padding-left: 0px;
  }

  .imageDroite {
    max-width: 246px;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 0px;
   }


  .classement2 {
    margin-top: 50px;
  }

  .chambres {
    min-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }

  aside{
    width: 90%;
    min-width: 280px;
  }

  /*----------ACTIVITES A MARSEILLE-------*/

  .textActivitesMarseille {
    width: 112px;
    padding-left: 0px;
    margin-top: 0px;
    padding-right: 170px;
  }

  #t1 {
    min-width: 300px;
    height: 134px;
    width: 85%;
    object-fit: cover;
  }

  #t2 {
    min-width: 300px;
    height: 134px;
    width: 85%;
    object-fit: cover;
  }

  #t3 {
    min-width: 300px;
    height: 134px;
    width: 85%;
    object-fit: cover;
  }

  #t4 {
    min-width: 300px;
    height: 134px;
    width: 85%;
    object-fit: cover;
  }

  .activity__full-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    border-radius: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-top: 30px;
    min-width: 300px;
   }
 
  .activitesMarseille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 90%;    
  }
  #activity-1{
    margin-left: 0px;
  }

  /**------------------------FOOTER---------------------**/
  .contenu-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    padding-top: 25px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 98%;
  }
  
 footer{
  width: 98%;
 }

  h5 {
    display: flex;
    flex-wrap: wrap;
  }

  .blocFooterAPropos{
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .blocFooterAPropos h3{
    margin-bottom: 8px;
    margin-left: 20px;
  }

  .blocFooterNosHebergements{
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .blocFooterNosHebergements h3{
    margin-bottom: 8px;
  }

  .blocFooterAssistance{
    margin-bottom: 30px;
  }

  .blocFooterAssistance{
    margin-bottom: 8px;
  }
}
