/**-------GENERALITES--------**/
html{
  max-width: 1400px;
}
body {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-left: 10px;
  padding-bottom:10px;
  margin-top: 5px;
  }

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 30px;
  width: 100%;
}
a{
  color: #000000;
  text-decoration: none;
}

  /*---------------HEADER------------*/
.topnav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.topnav a {
  color: black;
  text-decoration: none;
  padding: 25px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 61.09px;
  height: 19px;
  margin-right: auto;
  object-fit: cover;
  margin-left: 55px;
  margin-top: 44px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
}

.item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.item:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0065fc;
  border-top: solid 3px #0065fc;
}
header ul li {
  margin-right: 40px;
}

h1 {
  /* Trouvez votre hébergement pour des vacances de rêve */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-left: 45px;
}
.subtitle {
  font-size: 16px;
  display: inline;
  text-decoration: none;
  margin-left: 45px;
  font-weight: 400;
}

  /*------------SECTION RECHERCHE-------*/

.bouton_recherche {
  border: none;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
  text-align: center;
  width: 132px;
  height: 49px;
  border: 1px solid #0065fc;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
}

.loupe_icone {
  visibility: collapse;
}
.recherche_icone {
  display: flex;
  align-items: center;
  text-align: center;
}
.bouton_recherche:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}
.research-box {
  margin-top: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  width: 332px;
  height: 49px;
}
figure {
  display: flex;
  flex-direction: column;
}

.fa-map-marker-alt {
  font-size: 17px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-top: 0px;
}
input::placeholder {
  color: black;
  font-size: 18px;
  padding-right: 114px;
  padding: 14px;

  /* Rectangle 13 */

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
}

form input {
  height: 100%;
  border: none;
  padding-left: 8px;
  border-top: solid 1.5px #f2f2f2;
  border-bottom: solid 1.5px #f2f2f2;
  font-weight: 600;
}

form button {
  height: 100%;
  border: none;
  background-color: #0065fc;
  width: 130px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.carte_icone {
  display: flex;
  background-color: #f2f2f2;
  width: 50px;
  height: 49px;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  margin-left: 45px;
  left: 0%;
  right: 84.94%;
  top: 0%;
  bottom: 0%;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 16px;
  margin-left: 55px;
  margin-bottom: 30px;
}
.info .fas{
  width: 24px;
height: 24px;
border: 1px solid #D9D9D9;
border-radius: 50%;
display: flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
color: #0065fc;
background: #D9D9D9;
margin-right: 15px;
}


.info .p{
  padding-left:0px;
}
.filters-section {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 0px;
}
.filters-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}
.filters-icon2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.filters-section p{
  height: 50px;
  padding-left: 0px;
  padding-right:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 17px;
  padding-right: 0px;
}

.filters .fas{
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}


.filters-section h3 {
  margin: 15px 40px 0 30px;
  font-size: 18px;
}

.filters{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  cursor: pointer;
  transition: 0.8s;
  background-color: #ffffff;
  border: #dfdede 2px solid;
  border-radius: 25px;
  height: 50px;
  margin-left: 15px;
}

.filters:hover{
  background: #DEEBFF;
  border: 2px solid #D9D9D9;
}

.filters-section p:hover {
  color: #0065fc;
}
.icon .fas {
  color: #0065fc;
  
}
  /*-------------HEBERGEMENYTS MARSEILLE---------*/
.hebergementsMarseille {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  background-color: #f2f2f2;
  width: 100%;
  background-size: 100%;
 
}
.textHebergementsMarseille {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

/*----------------------BLOC MARSEILLE----------*/
.resultatsMarseille {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.blocMarseille {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30px;
  border-radius: 20px;
}

.premiersHotels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
}
.derniersHotels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 25px;
  }

  .imageGauche {
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .chambre:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
  }
.case-text {
  margin-top: 0px;
  text-decoration: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.card {
  background-color: #ffffff;
  margin-top: 0px;
  border-radius: 20px;
  width: 246px;
  height: 199px;
}
.hotel-price {
  font-size: 14px;
  margin-bottom: 1px;
  margin-top: 4px;
  font-weight:600;
}
.hotel-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
}
.classement {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
.AfficherPlus {
  font-size: 18px;
  text-decoration: none;
  padding-left: 35px;
  font-weight: 700;
}
#etoile1 {
  padding-left: 0px;
}
.fa-star {
  color: #0065fc;
  height: 12px;
  width: 12px;
  padding: 7px;
}
figure:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}
figure{
  border-radius: 20px;
  
}

/*----------les plus populaires-------*/
.case-text2 {
  margin-top: 0px;
  text-decoration: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: baseline;
  border-radius: 0px 20px 20px 0px;
}




.classement2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  height: 15px;
}


.lesPlusPopulaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 20px;
  margin-left: 0px;
  margin-right: 10px;
}

.chambrepopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}
.chambres {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 343px;
  height: 144px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 20px;
}
#chambre2{
  margin-top: 30px;
  margin-bottom: 10px;
}
.titreIcone{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
}
.titreIcone .fas{
  color: #0065fc;
  padding-left: 50px;
}
.h2populaires {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 1px;
  padding-left: 0px;
}

.imagesDroites {
  width: 137px;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
/*------------------ACTIVITES MARSEILLE-----------*/
.englobe {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 25px;
  padding: 0px;
}

.textActivitesMarseille {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  padding-left: 0px;
  margin-left: 0px;
  margin-left: 40px;
  font-size: 22px;
}

.activity__full-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
}
#t1 {
  width: 302px;
  height: 445px;
  border-radius: 20px 20px 0 0;
}

#t2 {
  width: 302px;
  height: 445px;
  border-radius: 20px 20px 0 0;
}

#t3 {
  width: 302px;
  height: 445px;
  border-radius: 20px 20px 0 0;
 }

#t4 {
  width: 302px;
  height: 445px;
  border-radius: 20px 20px 0 0;
}


#hebergements #activites:hover {
  color: #0065fc;
}

/*--------------FOOTER------------*/

.contenu-footer {
  width: 95%;
  background: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  position: absolute;
  padding-left: 40px;
  padding-top: 45px;
  padding-right: 100px;
  padding-bottom: 15px;
  margin-bottom: auto;
  margin-right: 20px;
}

.blocFooterAPropos {
  margin-left: 0px;
  margin-right: 55px;
}

.blocFooterAssistance {
  margin-left: 0px;
}
h3 {
  font-size: 18px;
  color: #000000;
}
.activitesMarseille {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  width: auto;
  margin-top: 0px;
  padding-left: 50px;
  margin-right: 50px;
}
.hotel-name {
  font-size: 16px;
  color: #000000;
}

.AfficherPlus {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  display: inline;
}
.card__title {
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0px;
  font-size: 16px;
  color: #000000;
  border-radius: 0 0 20px 20px;
  font-weight: 700;
}
.filters-section {
  margin-left: 20px;
}
.info {
  margin-left: 70px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0px;
}
footer a {
  font-size: 16px;
  font-weight: 400;
}
.activity__full-card:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}
.activity__full-card{ 
box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75)
}